In [21]:
#Importing Libraries

import pandas as pd
import numpy as np

In [22]:
#Reading file

sales = pd.read_csv("messy_sales.csv")

In [23]:
#Reading first 5 rows

sales.head()

,order_id,customer_name,product,category,quantity,price,total_amount,date,region,status
0,1,Alice Davis,Mouse,Electronics,1.0,1488.95,0.00,05-09-2024,North,Active
1,2,Patel Davis,Monitor,electronics,1.0,242.74,1260.16,07/21/2024,North,completed
2,3,Bob Johnson,Monitor?,Electronics,1.0,1482.75,NaN,10-16-2024,South,NaN
3,4,Patel Brown,Laptop,hardware,2.0,1466.15,2958.81,01/07/2024,East,Completed
4,5,Patel Davis,iPhone 14,ELECTRONICS,NaN,1192.79,2466.13,09-27-2024,North,Active

In [24]:
#Reading last 5 rows

sales.tail()

,order_id,customer_name,product,category,quantity,price,total_amount,date,region,status
995,996,Mary Smith,Laptop,Electronics,3.0,1091.870000,NaN,2024-02-27,EAST,Completed
996,997,Mary Smith,Monitor,hardware,1.0,190.740000,NaN,2024/11/22,West,Pending
997,998,Alice Brown,Laptop,ELECTRONICS,2.0,461.130000,2403.08,03/24/2024,EAST,NaN
998,999,John Wilson,Keyboard,Hardware,1.0,803.380000,NaN,03-01-2024,EAST,NaN
999,1000,John Smith,Mouse,hardware,1.0,850.980716,NaN,2024/11/02,West,NaN

In [25]:
# getting information about sales data

sales.info()
sales.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   product        1000 non-null   object
 3   category       1000 non-null   object
 4   quantity       948 non-null    float64
 5   price          966 non-null    float64
 6   total_amount   686 non-null    float64
 7   date           1000 non-null   object
 8   region         1000 non-null   object
 9   status         679 non-null    object
dtypes: float64(3), int64(1), object(6)
memory usage: 78.3+ KB

          order_id    quantity        price  total_amount
count  1000.000000  948.000000   966.000000    686.000000
mean    500.500000    1.618143   749.387292   1107.766883
std     288.819436    0.916681   427.013552   1163.177794
min       1.000000   -1.000000    10.050000      0.000000
25%     250.750000    1.000000   377.857500      3.032500
50%     500.500000    2.000000   755.640000    788.635000
75%     750.250000    2.000000  1114.150000   1767.300000
max    1000.000000    3.000000  1496.646590   4431.050000

In [26]:
#Finding count of null values by columns

sales.isna().sum()

order_id           0
customer_name      0
product            0
category           0
quantity          52
price             34
total_amount     314
date               0
region             0
status           321
dtype: int64

In [43]:
#There are issue in the cusomer_name, let's fine the unique customer name

sales['customer_name'].unique()

array(['Alice Davis', 'Patel Davis', 'Bob Johnson', 'Patel Brown',
       'Alice Brown', 'Sarah Davis', 'Mary Wilson', 'Sarah Johnson',
       'John Wilson', 'Mary Davis', 'Alice Smith', 'John Brown',
       'Patel Johnson', 'Alice Wilson', 'Sarah Brown', 'Bob Brown',
       'Bob Smith', 'Mary Smith', 'Patel Smith', 'Alice Johnson',
       'Mary Johnson', 'Sarah Wilson', 'John Davis', 'Bob Davis',
       'John Smith', 'Patel Wilson', 'Mary Brown', 'John Johnson',
       'Bob Wilson', 'Sarah Smith'], dtype=object)

In [ ]:
# Removing *,? and extra space from customer name

sales['customer_name']= sales['customer_name'].str.replace('*','').str.replace('?','').str.strip()
sales

# We can also use regex here

,order_id,customer_name,product,category,quantity,price,total_amount,date,region,status
0,1,Alice Davis,Mouse,Electronics,1.0,1488.950000,0.00,05-09-2024,North,Active
1,2,Patel Davis,Monitor,electronics,1.0,242.740000,1260.16,07/21/2024,North,completed
2,3,Bob Johnson,Monitor?,Electronics,1.0,1482.750000,NaN,10-16-2024,South,NaN
3,4,Patel Brown,Laptop,hardware,2.0,1466.150000,2958.81,01/07/2024,East,Completed
4,5,Patel Davis,iPhone 14,ELECTRONICS,NaN,1192.790000,2466.13,09-27-2024,North,Active
...,...,...,...,...,...,...,...,...,...,...
995,996,Mary Smith,Laptop,Electronics,3.0,1091.870000,NaN,2024-02-27,EAST,Completed
996,997,Mary Smith,Monitor,hardware,1.0,190.740000,NaN,2024/11/22,West,Pending
997,998,Alice Brown,Laptop,ELECTRONICS,2.0,461.130000,2403.08,03/24/2024,EAST,NaN
998,999,John Wilson,Keyboard,Hardware,1.0,803.380000,NaN,03-01-2024,EAST,NaN
999,1000,John Smith,Mouse,hardware,1.0,850.980716,NaN,2024/11/02,West,NaN

In [ ]:
# unique product
sales['product'].unique()

#Fixsing product name, Removing *,? and extra space

sales['product']= sales['product'].str.replace('*','').str.replace('?','').str.strip()
sales

array(['Mouse', 'Monitor', 'Laptop', 'iPhone 14', 'Keyboard'],
      dtype=object)

In [66]:
# #unique categories

sales['category'].unique()

# normalising category and remving extra space

sales['category']= sales['category'].str.capitalize().str.strip()

# Catgories are mismatched for Keyboard and Mouse it should be Hardware and Electronics for the rest

sales.loc[sales['product'].str.contains('Keyboard|Mouse', case=False, na=False), 'category'] = 'Hardware'
sales.loc[sales['product'].str.contains('Monitor|Laptop|iPhone', case=False, na=False), 'category'] = 'Electronics'

In [ ]:
# Quantity has null and negative, making it 0

sales['quantity'].unique() 

sales = sales.fillna({'quantity':0}) # filled null values with 0

sales['quantity']= sales['quantity'].clip(lower=0)  # replace negative with 0
sales

,order_id,customer_name,product,category,quantity,price,total_amount,date,region,status
0,1,Alice Davis,Mouse,Electronics,1.0,1488.950000,0.00,05-09-2024,North,Active
1,2,Patel Davis,Monitor,Electronics,1.0,242.740000,1260.16,07/21/2024,North,completed
2,3,Bob Johnson,Monitor,Electronics,1.0,1482.750000,NaN,10-16-2024,South,NaN
3,4,Patel Brown,Laptop,Hardware,2.0,1466.150000,2958.81,01/07/2024,East,Completed
4,5,Patel Davis,iPhone 14,Electronics,0.0,1192.790000,2466.13,09-27-2024,North,Active
...,...,...,...,...,...,...,...,...,...,...
995,996,Mary Smith,Laptop,Electronics,3.0,1091.870000,NaN,2024-02-27,EAST,Completed
996,997,Mary Smith,Monitor,Hardware,1.0,190.740000,NaN,2024/11/22,West,Pending
997,998,Alice Brown,Laptop,Electronics,2.0,461.130000,2403.08,03/24/2024,EAST,NaN
998,999,John Wilson,Keyboard,Hardware,1.0,803.380000,NaN,03-01-2024,EAST,NaN
999,1000,John Smith,Mouse,Hardware,1.0,850.980716,NaN,2024/11/02,West,NaN

In [68]:
sales

,order_id,customer_name,product,category,quantity,price,total_amount,date,region,status
0,1,Alice Davis,Mouse,Hardware,1.0,1488.950000,0.00,05-09-2024,North,Active
1,2,Patel Davis,Monitor,Electronics,1.0,242.740000,1260.16,07/21/2024,North,completed
2,3,Bob Johnson,Monitor,Electronics,1.0,1482.750000,NaN,10-16-2024,South,NaN
3,4,Patel Brown,Laptop,Electronics,2.0,1466.150000,2958.81,01/07/2024,East,Completed
4,5,Patel Davis,iPhone 14,Electronics,0.0,1192.790000,2466.13,09-27-2024,North,Active
...,...,...,...,...,...,...,...,...,...,...
995,996,Mary Smith,Laptop,Electronics,3.0,1091.870000,NaN,2024-02-27,EAST,Completed
996,997,Mary Smith,Monitor,Electronics,1.0,190.740000,NaN,2024/11/22,West,Pending
997,998,Alice Brown,Laptop,Electronics,2.0,461.130000,2403.08,03/24/2024,EAST,NaN
998,999,John Wilson,Keyboard,Hardware,1.0,803.380000,NaN,03-01-2024,EAST,NaN
999,1000,John Smith,Mouse,Hardware,1.0,850.980716,NaN,2024/11/02,West,NaN

In [70]:
sales.loc[(sales['quantity'].isna() | (sales['quantity'] == 0)) & 
          (sales['total_amount'] > 0) & (sales['price'] > 0), 
          'quantity'] = sales['total_amount'] / sales['price']

In [81]:
sales['total_amount']=sales['total_amount'].round()

In [92]:
sales['price'].isna().sum()

np.int64(18)

In [93]:
sales.loc[(sales['price'].isna() | (sales['price'] == 0)) & 
          (sales['total_amount'] > 0) & (sales['quantity'] > 0), 
          'price'] = sales['total_amount'] / sales['quantity']

In [103]:
sales.query('quantity==0')

,order_id,customer_name,product,category,quantity,price,total_amount,date,region,status
25,26,Mary Davis,Monitor,Electronics,0.0,1335.97,0.0,11/29/2024,South,completed
26,27,Mary Wilson,Laptop,Electronics,0.0,1488.02,NaN,2023/12/30,East,completed
34,35,Mary Johnson,Keyboard,Hardware,0.0,1468.94,NaN,07/11/2024,East,NaN
43,44,Bob Smith,Laptop,Electronics,0.0,649.30,NaN,11-07-2024,EAST,NaN
46,47,John Smith,iPhone 14,Electronics,0.0,347.15,0.0,06-03-2024,South,Completed
...,...,...,...,...,...,...,...,...,...,...
919,920,Alice Smith,Laptop,Electronics,0.0,608.80,NaN,03-11-2024,North,Active
937,938,Patel Johnson,Laptop,Electronics,0.0,717.90,NaN,2023/12/07,South,Completed
942,943,John Wilson,Mouse,Hardware,0.0,675.62,0.0,2024-06-19,South,Active
952,953,Patel Johnson,Keyboard,Hardware,0.0,238.19,NaN,01-13-2024,West,Completed
984,985,Alice Wilson,iPhone 14,Electronics,0.0,489.88,NaN,03/15/2024,EAST,Active